header {
    background-color: #006699;
    color: #FFFFFF;
}

.title {
    display: inline;
}

.list {
    display: inline;
    position: absolute;
    right: 20px;
    bottom: 25px;
    text-align: right;
}

.list-item {
    display: inline-block;
    /* inline 속성은 너비 속성을 가지지 않습니다 */
    /* inline-block은 inline 속성이면서, block 속성을 같이 사용 */
    width: 300px;
    font-size: 30px;
    text-transform: uppercase;
}

.container {
    position:relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:20px;
    padding-bottom:20px;
}

.span {
    position: absolute;
    top: 50px;
    left: 180px;
}
/* float를 이용한 div 배치*/

#column1 {
    float: left;
    width: 30%;
}

.column2 {
    float: left;
    width: 30%;
}

.column3 {
    float: left;
    width: 30%
}

.footer {
    clear: left;
}